<% if @sunstar.errors.any? %>
  <ul>
    <% @sunstar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @sunstar do |f| %>

    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <hr>
    <br>
    <%= f.radio_button(:department, 'Sales', :checked => true) %>
    <%= f.label(:salesdep, "Sales") %>
    <%= f.radio_button(:department, 'Marketing') %>
    <%= f.label(:marketingdep, "Marketing") %>
    <%= f.radio_button(:department, 'Technical') %>
    <%= f.label(:technicaldep, "Technical") %>



    <%= f.label :message %> <br>
    <%= f.text_area :message %>
    <br>

    <br>
    <%= f.submit %>
    <% f.button "Save", type: :save %>
    
    <% end %>