<h1>If any changes, please up date request.</h1>

<% if @sunstar.errors.any? %>
  <ul>
    <% @sunstar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @sunstar do |f| %>

    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>

    <%= f.label :message %> <br>
    <%= f.text_area :message %>
    <br>

    <br>
    <%= f.submit %>
    <% f.button "Update", type: :update %>
    
    <% end %>