<h1>Please edit and delete your support requests</h1>



<% @sunstars.each do |sunstar| %>
    <h3><%= link_to sunstar.name, sunstars_path %></h3>
    
    <p>Name: <%= sunstar.name %></p>
    <p>Email: <%= sunstar.email %></p>
    <p>Department: <%= sunstar.department %></p>
    <p>message: <%= sunstar.message %></p>
    
    <%= link_to "Edit", edit_sunstar_path(sunstar)  %>
    <%= link_to "delete", sunstar_path(sunstar), method:
    :delete, data: {confirm: "Thank you for removing you request?"} %>

    <% end %>
