<h1>Locate your request to edit</h1>


    <% @sunstars.each do |sunstar| %>
    <h3><%= link_to sunstar.name, sunstars_path %></h3>
    
    <p>Name: <%= sunstar.name %></p>
    <p>Email: <%= sunstar.email %></p>
    <p>message: <%= sunstar.message %></p>
    
    <%= link_to "Edit", edit_sunstar_path(sunstar)  %>

    <% end %>
