<!DOCTYPE html>
<html>
<head>
  <title>Worktest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/sunstars/new">Add a new</a>
  <a href="/sunstars">Edit your Request</a>
  <a href="/sunstars/note">Add a note to your request</a>
<%= yield %>

</body>
</html>

